* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width   : 1440px;
    height  : 900px;

}

.login-page {

    display         : flex;
    justify-content : center;
    background-color: #FFFFFE;
    width           : 1440px;
    height          : 900px;

}

.login-container {
    width   : 454px;
    height  : 607px;
    position: absolute;
    top     : 142px;
    bottom  : 151px;
    right   : 333px;
    left    : 152px;

}

.login-title {
    width : 454px;
    height: 120px;

    display: inline;

}

.login-title,
h2 {
    font-family: Open Sans;
    font-size  : 35px;
    font-weight: 600;
    line-height: 47px;
    text-align : left;

    width : 294px;
    height: 48px;

    color         : black;
    font-style    : normal;
    text-transform: capitalize;


}

.login-title,
span {
    text-transform: none;
}

.login-title,
h4 {
    font-family: Open Sans;
    font-size  : 16px;
    font-weight: 400;
    line-height: 22px;
    text-align : left;

    width : 454px;
    height: 49px;

    margin-top    : 23px;
    color         : #B9B8B8;
    text-transform: capitalize;

}

.login-form,
ul {

    font-family: Nunito Sans;
    font-size  : 20px;
    font-weight: 600;
    line-height: 31px;
    text-align : left;

    margin-top: 46px;
    color     : #263A43;

    text-transform : capitalize;
    list-style-type: none
}

.login-form,
li {
    margin-bottom: 16px;
}

.username input {
    width  : 400px;
    height : 70px;
    padding: 22px 277px 22px 16px;
    background-color: white;
    border          : 0.6px solid #B1B1B1;
    border-radius   : 5px 5px;
    box-sizing      : border-box;
    margin-bottom   : 43px;
    transition      : border 0.3s ease;
}

.username input:hover {
    border-top   : 0.6px solid #B1B1B1;
    border-left  : 0.6px solid #B1B1B1;
    border-right : 0.6px solid #B1B1B1;
    border-bottom: 4px solid #54E28D;
}



.username input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-size  : 17px;
    font-weight: 300;
    line-height: 27px;
    text-align : left;
    color      : black;
    padding    : 0;
}

.password input {
    width        : 400px;
    height       : 70px;
    padding      : 22px 277px 22px 16px;
    padding-right: 24px;

    background-color: white;
    border          : 0.6px solid #B1B1B1;
    border-radius   : 5px 5px;
    position        : relative;

}

.password input::placeholder {
    width : 181px;
    height: 25px;

    font-family: Nunito Sans;
    font-size  : 16px;
    font-weight: 400;
    line-height: 25px;
    text-align : left;

    position: relative;

    color: #8E8E8E;
}

img {
    position         : relative;
    width            : 22px;
    height           : 19px;
    background-image : url(/assets/images/icons/eye\ 1.svg);
    background-size  : contain;
    background-repeat: no-repeat;
    cursor           : pointer;
    right            : 48px;
    top              : 3px;
}

.forgot-password {
    width: 410px;
}

.forgot-password ul {
    display    : flex;
    align-items: center;
    padding    : 0;
    margin     : 0;
    width      : 100%;

}

.forgot-password li {
    display     : flex;
    align-items : center;
    margin-right: 160px;
    font-family : Nunito Sans;
    font-size   : 14px;
    font-weight : 400;
    text-wrap   : nowrap;
    line-height : 22px;
    text-align  : left;

    cursor: pointer;
    color : #8E8E8E;
}


.forgot-password span {
    margin-left: 5px;
}

.checkbox {
    width           : 15px;
    height          : 15px;
    border-radius   : 2px;
    background-color: #C4C4C4;
    margin-right    : 10px;
}

.text-2 {
    width : 143px;
    height: 25px;

    font-family: Nunito Sans;
    font-size  : 16px;
    font-weight: 400;
    line-height: 25px;
    text-align : left;


}

.login-button {
    width : 399px;
    height: 70px;

    display        : flex;
    justify-content: center;
    align-items    : center;

    cursor: pointer;

    border-radius   : 6px;
    background-color: #0A2FB6;


    box-shadow: 0px 4px 30px 0px #263A4326;

}

.login-button a {
    all    : unset;
    display: flex;
    width  : 56px;
    height : 31px;

    font-family    : Nunito Sans;
    font-size      : 20px;
    font-weight    : 700;
    line-height    : 31px;
    text-align     : left;
    text-transform : capitalize;
    justify-content: center;
    align-items    : center;

    cursor: pointer;

    color           : white;
    background-color: #0A2FB6;
}

.login-button button {
    outline     : 0 !important;
    padding     : 0;
    border-width: 0;
}

.login-button a span {
    text-transform: capitalize;

}

.right-container {
    position: relative;
    width   : 726px;
    height  : 900px;

    left  : 714px;
    bottom: 800px;

    right: 0;

    display        : flex;
    justify-content: flex-end;
    align-items    : center;

}


.right-side {
    background-image: url(/assets/images/design.svg);
    width           : 100%;
    height          : 100%;

    background-size  : contain;
    background-repeat: no-repeat;
}


.main-pic {
    width        : 100%;
    height       : 739px;
    border-radius: 20px;

    position: absolute;
    top     : 120px;
    right   : 70px;

    background-image : url(./images/children.jpg);
    background-repeat: no-repeat;
}